/*Semantic HTML*/
html {
	background-color: #D4FFF6;
}

section {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#post {
	background-color: #936AE8;
	float: right;
	width: 73%;
	padding: .5em;
	border: .2em inset #936AE8;
	border-radius: .5em;
	margin-top: 1.5em;
	margin-right: 2em;
	margin-bottom: 2em;
	text-align: left;
	box-shadow: 5px 5px .5em grey;
	position: relative;
}

#blog {
	border: none;
	margin-bottom: 2em;
}

#blog-list {
	background-color: #936AE8;
	padding: .5em;
	border: .2em inset #936AE8;
	border-radius: .5em;
	margin-top: 2em;
	max-width: 80%;
}

nav {
	position: relative;
	float: left;
	width: 20%;
	margin-bottom: 50px;
	text-align: left;
}
/*Headers*/
h1 {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #988F48;
	text-align: center;
}

h4 {
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../imgs/h1-background.png);
	border-radius: 1.2em;
	box-shadow: 5px 5px .5em grey;
	text-align: center;
}

h5 {
	width: 100%;
	background-image: url(../imgs/h1-background.png);
	border-radius: 1em;
	text-align: center;
	box-shadow: 5px 5px .5em grey;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	color: #936AE8;
}

a:visited {
	color: #FF7353;
}

a {
	clear: none;
	margin-left: 1em;
	display: inline-block;
}

#main-list {
	clear: both;
	display: block;
}

.navs {
	clear: none;
	padding-left: 5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img.displayed {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 50%;
}