h1 {
	width: 40%;
	margin-left: auto;
	margin-right: 17.5%;
	background-color: #988F48;
	font-family: ;
	text-align: center;
	border: groove #22AE67;
}

h4 {
	width: 20%;
	margin-left: auto;
	margin-right: 27.5%;
	background-color: #988F48;
	text-align: center;
	border: groove #22AE67;
}

h5 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #988F48;
	text-align: center;
	border: groove #22AE67;
}

html {
	background-color: #D4FFF6;
}

body {

}

#blog {
	border: none;
	margin-bottom: 2em;
}

#post {
	float: right;
	width: 75%;
	text-align: left;
	position: relative;
	margin-bottom: 50px;
}

nav {
	width: 20%;
	margin-bottom: 50px;
	float: left;
	text-align: left;
	position: relative;
}

footer {
	border: groove #22AE67;
  height: 50px;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #988F48;
  position: fixed;
}

a:link {
	color: #936AE8;
}

a:visited {
	color: #FF7353;
}

a {
	clear: none;
	margin-left: 1em;
	display: inline-block;
}

.navs {
	clear: none;
	padding-left: 5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img.displayed {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 50%;
}